.inputContainer {
    box-shadow: 0 1rem 1.5rem rgba(18, 38, 63, 0.03);
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    height: auto;
    ul {
        li {
            padding-bottom: 20px;
            .inputBox {
                border: 1px solid #ced4da;
                border-radius: 5px;
                input {
                    padding: 10.5px 13.5px;
                    border-radius: 5px;
                    width: 100%;
                    font-size: 14px;
                    border: none;
                }
            }
            .radioBox {
                border: 1px solid #ced4da;
                border-radius: 5px;
                padding: 10.5px 13.5px;
                display: flex;
                gap: 15px;
                > div {
                    display: flex;
                    gap: 5px;
                    > label {
                        font-weight: 500;
                        font-size: 16px;
                        display: block;
                        letter-spacing: -0.5px;
                    }
                }
            }
            .selectBox {
                select {
                    padding: 10.5px 13.5px;
                    border: 1px solid #ced4da;
                    cursor: pointer;
                    font-size: 14px;
                    width: 400px;
                    border-radius: 5px;
                }
            }
            > label {
                padding-bottom: 10px;
                font-weight: 500;
                font-size: 16px;
                display: block;
                letter-spacing: -0.5px;
            }
            .calendarWrapper {
                position: absolute;
                z-index: 999999;
            }
        }
    }
}
