.top {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 24px;
    .link {
        font-size: 16px;
        display: flex;
        align-items: center;
        gap: 10px;
        a {
            font-weight: bold;
            color: #343a40;
        }
        h3 {
            &::before {
                padding-right: 10px;
                color: #74788d;
                content: '/';
            }
        }
    }
    .titleBox {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .title {
            h2 {
                text-transform: uppercase;
                font-weight: 600;
                font-size: 18px;
            }
        }
        .action {
            display: flex;
            gap: 10px;
            a {
                padding: 1rem 1.2rem;
                font-weight: 400;
                border-radius: 5px;
                line-height: 1.5;
                font-size: 16px;
                min-width: 60px;
                text-align: center;
            }
            .back {
                background: #eff2f7;
                color: black;
                border: 1px solid rgb(160, 160, 160);
            }
            .edit {
                color: #34c38f;
                border: 1px solid #34c38f;
                background-color: rgba(52, 195, 143, 0.18);
            }
            .delete {
                color: #f46a6a;
                border: 1px solid #f46a6a;
                background-color: rgba(244, 106, 106, 0.18);
            }
            button {
                padding: 1rem 1.2rem;
                font-weight: 400;
                border-radius: 5px;
                line-height: 1.5;
                background: #556ee6;
                color: white;
                font-size: 16px;
            }
        }
    }
}
