.top {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 24px;
    .link {
        font-size: 16px;
        display: flex;
        align-items: center;
        gap: 10px;
        a {
            font-weight: bold;
            color: #343a40;
        }
        h3 {
            &::before {
                padding-right: 10px;
                color: #74788d;
                content: '/';
            }
        }
    }
    .titleBox {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .title {
            h2 {
                text-transform: uppercase;
                font-weight: 600;
                font-size: 18px;
            }
        }
        .action {
            display: flex;
            gap: 10px;
            a {
                padding: 1rem 1.2rem;
                font-weight: 400;
                border-radius: 5px;
                line-height: 1.5;
                background: #eff2f7;
                color: black;
                font-size: 16px;
            }
            button {
                padding: 1rem 1.2rem;
                font-weight: 400;
                border-radius: 5px;
                line-height: 1.5;
                background: #556ee6;
                color: white;
                font-size: 16px;
            }
        }
    }
}
.inputBox {
    display: flex;
    box-shadow: 0 1rem 1.5rem rgba(18, 38, 63, 0.03);
    background-color: white;
    max-width: 622px;
    border-radius: 10px;
    padding: 50px 70px;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 500px; // 최대 높이 유지
    height: auto; // 👉 내용에 따라 높이 조절
    ul {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }
}
